{% extends "base.html" %} {% block title%}Mis pacientes{% endblock %} {% block
content %}
<h3 align="center">Mis pacientes</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width: 30%">Nombre y apellidos</th>
      <th scope="col">NIF</th>
      <th scope="col">Prescripciones</th>
      <th scope="col">Último registro</th>
      <th scope="col">Borrar</th>
    </tr>
  </thead>
  <tbody>
    {% for paciente in user.pacientes %}
    <tr>
      <th scope="row">
        <a href="/doctor-view-patient/{{paciente.nif}}"
          >{{paciente.nombre}} {{paciente.apellidos}}</a
        >
      </th>
      <td>{{paciente.nif}}</td>
      <td>{{ paciente.prescriptions|length }}</td>
      <td>
        {% if paciente.readings %} {{ paciente.readings[0].ta_sistolica }}/{{
        paciente.readings[0].ta_diastolica }} mmHg ({{ paciente.readings[0].ppm
        }} ppm) {% else %}Aún no hay registros{% endif %}
      </td>
      <td>
        <button
          type="button"
          class="btn btn-danger"
          onClick="deletePatient({{ paciente.nif }})"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-x-circle-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"
            />
          </svg>
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="card border-success mt-4">
  <div class="card-body">
    <form method="POST" class="form-inline">
      <h5 class="card-title mb-1">Añadir un nuevo paciente</h5>
      <div class="form-group mx-sm-3">
        <input
          type="number"
          class="form-control"
          id="nif"
          name="nif"
          placeholder="NIF del paciente"
        />
      </div>
      <button type="Submit" class="btn btn-success">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-plus"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
          />
        </svg>
        Añadir
      </button>
    </form>
  </div>
</div>

{% endblock %}
