{% extends "base.html" %} {% block title%}Página de Inicio{% endblock %} {%
block content %}
<h1>Página de Inicio</h1>

<p>Bienvenidos, {{user.nombre}} {{user.apellidos}}</p>

<div class="container">
  <div class="row">
    <!--ADD CLASSES HERE d-flex align-items-stretch-->
    <div class="col-lg-4 mb-3 d-flex align-items-stretch">
      <div class="card border-success">
        <img
          src="./static/lecturas.jpg"
          class="card-img-top"
          alt="Card Image"
        />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Pacientes</h5>
          <p class="card-text mb-4">
            Aquí podra consultar, añadir y borrar pacientes que tiene en
            seguimiento.
          </p>
          <a
            href="/doctor-patients"
            class="btn btn-success mt-auto align-self-start"
            >Ir a pacientes</a
          >
        </div>
      </div>
    </div>
    <!--ADD CLASSES HERE d-flex align-items-stretch-->
    <div class="col-lg-4 mb-3 d-flex align-items-stretch">
      <div class="card border-warning">
        <img
          src="./static/medicinas.jpg"
          class="card-img-top"
          alt="Card Image"
        />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Prescripciones</h5>
          <p class="card-text mb-4">
            Aquí podrá consultar las prescripciones que ha recetado, así como
            las fechas de inicio y final, sus principios activos, y la
            posología.
          </p>
          <a
            href="/doctor-prescriptions"
            class="btn btn-warning mt-auto align-self-start"
            >Ir a prescripciones</a
          >
        </div>
      </div>
    </div>
    <!--ADD CLASSES HERE d-flex align-items-stretch-->
    <div class="col-lg-4 mb-3 d-flex align-items-stretch">
      <div class="card border-primary">
        <img src="./static/info.jpg" class="card-img-top" alt="Card Image" />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Información personal</h5>
          <p class="card-text mb-4">
            Aquí podrá consultar y modificar su información personal
          </p>
          <a
            href="/doctor/{{ user.nif }}"
            class="btn btn-primary mt-auto align-self-start"
            >Ir a información personal</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
