{% extends "base.html" %} {% block title%}Información sobre Dr. {{ doctor.nombre
}}{% endblock %} {% block content %}
<h3 align="center">
  Información sobre Dr. {{doctor.nombre}} {{doctor.apellidos}}
</h3>
<div class="card w-50 mx-auto bg-light">
  <div class="card-body">
    <h5 class="card-title">{{ doctor.nombre }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ doctor.apellidos }}</h6>
    <ul>
      <li><b>NIF:</b> {{doctor.nif}}</li>
      <li>
        <b>Email:</b><a href="mailto:{{doctor.email}}"> {{doctor.email}}</a>
      </li>
      <li>
        <b>Teléfono:</b>
        <a href="tel:+34{{doctor.telefono}}">{{doctor.telefono}}</a>
      </li>
      <hr />
      <li><b>Hospital:</b> {{doctor.hospital}}</li>
      <li><b>Consulta:</b> {{doctor.consulta}}</li>
      <li><b>Horario de atención:</b> {{doctor.horario_atencion}}</li>
    </ul>
    {% if user.nif == doctor.nif %}
    <a href="/doctor-edit-personal-data" class="card-link"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-pencil-square"
        viewBox="0 0 16 16"
      >
        <path
          d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
        />
        <path
          fill-rule="evenodd"
          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
        />
      </svg>
      Editar información</a
    >
    {% endif %}
  </div>
</div>
{% endblock %}
