{% extends "base.html" %} {% block title%}Página de Inicio{% endblock %} {%
block content %}
<h1>TFA - Ingeniería Web</h1>

<p>
  Bienvenidos al proyecto, para utilizar la herramienta, primero deberá iniciar
  sesión, elija la opción que le corresponda:
</p>

<img
  src="/static/bp.jpg"
  class="img-fluid mb-3 rounded mx-auto d-block"
  alt="Responsive image"
  style="width: 100%; filter: brightness(60%)"
/>

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Inicio de sesión</h5>
      <a href="/login">
        <button class="btn btn-primary mt-4" style="width: 100%">
          Iniciar sesión
        </button>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Registro</h5>
      <a href="/patient-sign-up">
        <button class="btn btn-success mb-2" style="width: 100%">
          Registro - pacientes
        </button> </a
      ><a href="/doctor-sign-up">
        <button class="btn btn-warning" style="width: 100%">
          Registro - médicos
        </button>
      </a>
    </div>
  </div>
</div>

{% endblock %}
