{% extends "base.html" %} {% block title%}Modificar lectura{% endblock %} {%
block content %}
<form method="POST">
  <h3 align="center">Modificar lectura</h3>
  <div class="form-group">
    <label for="fecha_hora">Fecha de nacimiento</label>
    <input
      type="datetime-local"
      class="form-control"
      id="fecha_hora"
      name="fecha_hora"
      value="{{ fh }}"
    />
    <label for="ta_sistolica">Sistólica (mmHg)</label>
    <input
      type="number"
      class="form-control"
      id="ta_istolica"
      name="ta_sistolica"
      value="{{  reading.ta_sistolica }}"
      placeholder="Introduzca su NIF"
    />
    <label for="ta_diastolica">Diastólica (mmHg)</label>
    <input
      type="number"
      class="form-control"
      id="ta_diastolica"
      name="ta_diastolica"
      value="{{ reading.ta_diastolica }}"
      placeholder="Introduzca la tensión diastólica (valor más bajo)"
    />
    <label for="ppm">Pulsaciones por minuto</label>
    <input
      type="number"
      class="form-control"
      id="ppm"
      name="ppm"
      value="{{ reading.ppm }}"
      placeholder="Introduzca las pulsaciones por minuto"
    />
    <label for="notas">Notas</label>
    <textarea
      class="form-control"
      id="nota"
      name="nota"
      placeholder="Notas (opcional)"
      value="{{ reading.notas }}"
    ></textarea>
    <label for="medicacion_tomada">Medicación tomada</label>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="medicacion_tomada"
        value="True"
        id="medicacion_tomada1"
        checked
      /><label class="form-check-label" for="medicacion_tomada1"> Sí </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="medicacion_tomada"
        value="False"
        id="medicacion_tomada2"
      /><label class="form-check-label" for="medicacion_tomada2"> No </label>
    </div>
  </div>
  <br />
  <button type="Submit" class="btn btn-primary">Actualizar</button>
</form>
{% endblock %}
