{% extends "base.html" %} {% block title%}Mis información personal{% endblock %}
{% block content %}
<h3 align="center">Mi información personal</h3>
<div class="card w-50 mx-auto bg-light">
  <div class="card-body">
    <h5 class="card-title">{{ user.nombre }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ user.apellidos }}</h6>
    <ul>
      <li><b>NIF:</b> {{user.nif}}</li>
      <li><b>Fecha nacimiento:</b> {{user.fecha_nacimiento}}</li>
      <li><b>Email:</b><a href="mailto:{{user.email}}"> {{user.email}}</a></li>
      <li>
        <b>Teléfono:</b
        ><a href="tel:+34{{user.telefono}}"> {{user.telefono}}</a>
      </li>
      <li>
        <b>Médico asignado:</b>
        <a href="/doctor/{{doctor.nif}}"
          >{{doctor.nombre}} {{doctor.apellidos}}</a
        >
      </li>
    </ul>
    <a href="/edit-personal-data" class="card-link">Editar información</a>
  </div>
</div>
{% endblock %}
